<!-- editPassword.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Edit Password</title>
</head>
<body>
  <h1>Edit Password</h1>
  <form action="/api/passwords/<%= password.id %>" method="POST">
    <label for="appName">Website:</label>
    <input type="text" id="appName" name="appName" value="<%= password.appName %>" required>

    <label for="password">Password:</label>
    <input type="text" id="password" name="password" value="<%= password.password %>" required>

    <label for="categoryName">Category:</label>
    <select id="categoryName" name="categoryName" required>
      <option value="Social Media" <%= password.categoryName === 'Social Media' ? 'selected' : '' %>>Social Media</option>
      <option value="Finance" <%= password.categoryName === 'Finance' ? 'selected' : '' %>>Finance</option>
      <option value="HR" <%= password.categoryName === 'HR' ? 'selected' : '' %>>HR</option>
      <option value="Workspace" <%= password.categoryName === 'Workspace' ? 'selected' : '' %>>Workspace</option>
    </select>

    <button type="submit">Save Password</button>
  </form>
</body>
</html>
